*{
    margin:0px;
    padding:0px;
    font-family: "Poppins", sans-serif;
    
}
#container{
    width:100%;
  
    
    
}
#slider{
    width:100%;
    height:50px;
    background-color: blanchedalmond;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    box-sizing: border-box;

    
}
marquee h3{
    color: brown;
    font-weight: 500;
}
.details{
    width:50%;
    margin:auto;
    height:30vh;
    border:1px solid #ddd ;
    border-top-color: white;

    display: flex;
   justify-content: space-evenly;
   padding: 2rem;
    
}
ul{
    display:none;
    font-size:smaller;
    font-weight: 200;
}

   
.list_items{
    list-style: none;
    

}

.fetch{
    width:20%;
  
    color: brown;
    position: relative;
    top: 100px;
    left:400px;
    animation-name:FadeInOut ;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
@keyframes FadeInOut{
    0%{
        opacity:1;
    }
    14%{
        opacity:0;
    }

}