*{
    margin:0px;
    padding:0px;
    font-family: "Poppins", sans-serif;
    
}
#container{
    width:100%;
    border:solid;
   
    
    
}
#slider{
    width:100%;
    height:50px;
    background-color: blanchedalmond;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    box-sizing: border-box;

    
}
marquee h3{
    color: brown;
    font-weight: 500;
}
.name{
    width:33%;
    margin:auto;
    height:50px;
    background-color: #ddd;
    border: solid;
    
    
}